---
interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---
<nav class={className}>
    <div class="flex justify-between">
        <span>Eilay Katsnelson</span>
        <ul class="flex space-x-4">
            <li><a href="#">Home</a></li>
            <li><a href="/about">Projects</a></li>
            <li><a href="/about">Experience</a></li>
        </ul>
    </div>
</nav>